@charset "utf-8";
/* CSS Document */

/* 나눔고딕 구글연결

@import url(nanumgothic.css);
@font-face {
	font-family: 'NanumGothic';
	src: url('fonts/NanumGothic.eot');
}
@font-face {
	font-family: MalgunGothic;
	src: url(fonts/MalgunGothic.eot);
}
* {
	font-family: 'NanumGothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', Dotum;
}
 */
 
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
 font-family: 'Noto Sans KR', sans-serif;
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*  한국어 */
:lang(ko) {
	font-family: 'Noto Sans KR', sans-serif;
}
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
	margin: 0;
	padding: 0
}
fieldset, img {
	border: 0 none
}
dl, ul, ol, menu, li {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
input, select, textarea, button {
	vertical-align: middle
}
button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer
}
body {
	background: #32679e;
}
body, th, td, input, select, textarea, button {
	line-height: 1.5;
	font-size: 12px;
	/*font-family: '돋움', dotum, sans-serif, AppleGothic, sans-serif, 'NanumGothic', '나눔고딕';*/
	font-family: 'NotoSans', 'Arial', sans-serif;
	color: #333;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
body {
	font-family: Noto Sans KR, sans-serif;
	font-weight: 300;
	color: #555;
}
:lang(ko) {
	font-family: Noto Sans KR, sans-serif;
}
}
/*
body {
   font-family: Noto Sans KR, sans-serif; font-weight:300
}

:lang(ko) {
   font-family: Noto Sans KR, sans-serif; 
}
*/

/* color값은 디자인가이드에 맞게사용 */
a {
	color: #333;
	text-decoration: none
}
a:active, a:hover {
	text-decoration: none
}
address, caption, cite, code, dfn, em, var {
	font-style: normal;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
input {
	line-height: normal
}
input[type=checkbox], input[type=radio] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid silver
}
legend {
	padding: 0;
	border: 0
}
textarea {
	overflow: auto
}
optgroup {
	font-weight: 500
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
td, th {
	padding: 0
}
.form-control {
	color: #333;
	font-size: 13px;
	background-color: #fff;
	border-radius: 1px;
	border: 1px solid #ccc;
	display: inline;
	height: 30px;
	width: 100%;
	line-height: 30px;
	padding-left: 15px;
	padding-right: 5px;
}
.form-control.input-white {
	background: #fff;
	border-color: #fff
}
.form-control.input-white:focus {
	box-shadow: none;
	-webkit-box-shadow: none
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background: #e5e9ed;
	opacity: .6;
	filter: alpha(opacity=60)
}
.form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled] .form-control:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #ccd0d4
}
.form-control:focus {
	border-color: #9fa2a5;
	-webkit-box-shadow: none;
	box-shadow: none
}
.form-control.input-inline {
	display: inline;
	width: auto;
	padding: 0 0px 0 7px
}
.f_l {
	float: left
}
.f_r {
	float: right
}
.cl_b {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both
}
.show {
	display: block
}
.hide {
	display: none
}
.tbl {
	border-collapse: collapse;
	border-spacing: 0
} /* 테이블 초기화 */
.clear_g {
	display: block;
	overflow: visible;
	width: auto;
	clear: both;
*zoom:1
}
.clear_g:after {
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0;
	clear: both;
	content: ''
}
.center {
	text-align: center
}
.right {
	text-align: right
}
.m-b-0 {
	margin-bottom: 0px
}
.m-b-5 {
	margin-bottom: 5px
}
.m-b-50 {
	margin-bottom: 50px
}
.m-r-10 {
	margin-right: 10px
}
.m-r-15 {
	margin-right: 15px
}
.m-t-5 {
	padding-top: 5px
}

.m-t-15 {
	margin-top: 15px
}
.of-y-auto {
	overflow-y: auto;
}
.of-y-scroll {
	overflow-y: scroll;
}
.btn {
	display: inline-block;
	padding: 5px 15px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}
.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none
}
.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}
.btn-default {
	color: #fff;
	background-color: #4981bc;
	border-color: #2b6bad
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
	color: #fff;
	background-color: #2b6bad;
	border-color: #024780
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	background-image: none
}
.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
	background-color: #69c5bc;
	border-color: #55a9a5
}
.btn-default .badge {
	color: #fff;
	background-color: #333
}

.btn-line {
	color: #024780;
	background-color: #fff;
	border-color: #4981bc;
	font-size: 12px;
	padding: 3px 15px;
	line-height: 14px;
	
}
.btn-line.active, .btn-line.focus, .btn-line:active, .btn-line:focus, .btn-line:hover, .open>.dropdown-toggle.btn-line {
	color: #fff;
	background-color: #2b6bad;
	border-color: #024780
}
.btn-line.active, .btn-line:active, .open>.dropdown-toggle.btn-line {
	background-image: none
}
.btn-line.disabled, .btn-line.disabled.active, .btn-line.disabled.focus, .btn-line.disabled:active, .btn-line.disabled:focus, .btn-line.disabled:hover, .btn-line[disabled], .btn-line[disabled].active, .btn-line[disabled].focus, .btn-line[disabled]:active, .btn-line[disabled]:focus, .btn-line[disabled]:hover, fieldset[disabled] .btn-line, fieldset[disabled] .btn-line.active, fieldset[disabled] .btn-line.focus, fieldset[disabled] .btn-line:active, fieldset[disabled] .btn-line:focus, fieldset[disabled] .btn-line:hover {
	background-color: #69c5bc;
	border-color: #55a9a5
}


.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #286090;
	border-color: #204d74
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background-image: none
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
	background-color: #337ab7;
	border-color: #2e6da4
}
.btn-primary .badge {
	color: #337ab7;
	background-color: #fff
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
	background-image: none
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
	background-color: #5cb85c;
	border-color: #4cae4c
}
.btn-success .badge {
	color: #5cb85c;
	background-color: #fff
}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}
.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
	background-image: none
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
	background-color: #5bc0de;
	border-color: #46b8da
}
.btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}
.btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
	background-image: none
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
	background-color: #f0ad4e;
	border-color: #eea236
}
.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff
}
.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}
.btn-danger.active, .btn-danger:active, .open>.dropdown-toggle.btn-danger {
	background-image: none
}
.btn-danger.disabled, .btn-danger.disabled.active, .btn-danger.disabled.focus, .btn-danger.disabled:active, .btn-danger.disabled:focus, .btn-danger.disabled:hover, .btn-danger[disabled], .btn-danger[disabled].active, .btn-danger[disabled].focus, .btn-danger[disabled]:active, .btn-danger[disabled]:focus, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger.active, fieldset[disabled] .btn-danger.focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:hover {
	background-color: #d9534f;
	border-color: #d43f3a
}
.btn-danger .badge {
	color: #d9534f;
	background-color: #fff
}
.btn-table {
	color: #fff;
	background-color: #4981bc;
	border-color: #4981bc;
	font-size: 12px
}
.btn-table.active, .btn-table.focus, .btn-table:active, .btn-table:focus, .btn-table:hover, .open>.dropdown-toggle.btn-table {
	color: #fff;
	background-color: #4981bc;
	border-color: #4981bc
}
.btn-table.active, .btn-table:active, .open>.dropdown-toggle.btn-table {
	background-image: none
}
.btn-table.disabled, .btn-table.disabled.active, .btn-table.disabled.focus, .btn-table.disabled:active, .btn-table.disabled:focus, .btn-table.disabled:hover, .btn-table[disabled], .btn-table[disabled].active, .btn-table[disabled].focus, .btn-table[disabled]:active, .btn-table[disabled]:focus, .btn-table[disabled]:hover, fieldset[disabled] .btn-table, fieldset[disabled] .btn-table.active, fieldset[disabled] .btn-table.focus, fieldset[disabled] .btn-table:active, fieldset[disabled] .btn-table:focus, fieldset[disabled] .btn-table:hover {
	background-color: #cbece7;
	border-color: #afe2d9
}
.btn-link {
	font-weight: normal;
	color: #337ab7;
	border-radius: 0
}
.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
	border-color: transparent
}
.btn-link:focus, .btn-link:hover {
	color: #23527c;
	text-decoration: none;
	background-color: transparent
}
.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
	color: #777;
	text-decoration: none
}
.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}
.btn-group-sm>.btn, .btn-sm {
	padding: 5px 10px;
	font-size: 13px;
	line-height: 1.5;
	border-radius: 3px
}
.btn-group-xs>.btn, .btn-xs {
	padding: 2px 6px;
	font-size: 12px;
	line-height: 1.4;
	border-radius: 3px
}
.btn-block {
	display: block;
	width: 100%
}
.btn-block+.btn-block {
	margin-top: 5px
}
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
	width: 100%
}
.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.btn_group_gray {
	background: #ededed;
	padding: 10px 0;
	margin-bottom: 5px
}
/* UI Object */
#wrap {
	width: 100%;
	height: 100%;
}
#header {
	width: 100%;
}
#container {
	_display: inline-block;
	width: 100%;
	height: 100%;
	background: #fff;
}
#container:after {
	display: block;
	clear: both;
	content: ''
}
.index_navbar {
	width: 100%;
	text-align: right
}
.index_navbar img {
	float: left;
}

.member  {
	padding: 5px 40px;
	color:#fff
}
.member a {
	margin-top:10px;
	padding: 2px 6px;
	color:#fff;
	background:#477db9;
	border-radius:3px
}


/* top_menu */
.index_nav {
	margin-left: 210px;
	padding-top:10px;
	padding-right:10px;
}

.index_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.index_nav > li {
	display: inline-block;
	position: relative;
}
.index_nav > li + li {
	border-left: solid 1px #246ba5;
}
.index_nav > li:hover .submenu {
	top: 100%;
	left: auto;
}
.index_nav a {
	color: #fff;
	display: block;
	padding: 0px 12px;
	text-decoration: none;
	width: 150px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	font-weight: normal
}
.index_nav a:hover, .index_nav a:focus {
	/*background:url(../images/bul_topmenu_01.png) no-repeat center bottom;*/
	outline: none;
}
.submenu {
	background: #146db6;
	left: -9999px;
	position: absolute;
	top: -9999px;
	width: 100%;
	z-index: 999;
	border: solid 1px #024e8c;
}
.submenu > li + li {
	border-top: solid 1px #024e8c
}
.submenu > li:last-child {
}
.submenu a {
	padding: 12px 0px 12px 0px;
	line-height: 16px;
	font-size: 15px;
	text-align: center;
	background: #146db6;
	font-weight: 300
}
.submenu a:hover, .submenu a:focus {
	background: #005ba6;
	outline: none;
}
.is-show {
	left: auto;
	top: 100%;
}
/* content  */
#content {
	margin: 0 auto;
	height: 100%;
}
#footer {
	width: 100%;
	bottom: 0
}
/* Layout Color */
div {
	margin: 0;
	padding: 0;
}
#wrap {
	width: auto;
	padding: 0px;
	background: #fff;
	margin: 0 auto;
}
#header {
	margin: 0px;
	background: #005891;
	width: 100%;
	height: 70px;
}
#container {
	width: auto;
	height: auto;
}
#content {
	background: #ffffff;
	padding: 0px;
	border: 0;
 width: 100p%;
	margin-bottom: 0px
}

/* //UI Object */

h1{	color: #fff;
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 0px 0;
	padding:8px 15px;
	background:#32679e
}
h1.page-header-popup {
	height: 40px;
	line-height: 40px;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 24px;
	color: #fff;
	font-weight: 500
}
.contents-box h2 {
	padding-left: 0px;
	margin: 0px 0px 10px;
	font-size: 16px;
	color: #005891;
}

.contents-box h2 b {
	margin: 0 5px 0 5px;
	color: #555;
	padding: 0px 0 0 8px;
	line-height: 32px;
	vertical-align: bottom;
	font-size: 14px;
	background: url(../images/bg_cont_menu_bottom.gif) no-repeat left 5px
}


h3.content-title span.stit {
	background: #faf2c7;
	border-radius: 24px;
	padding: 5px 10px;
	font-size: 12px;
}
h3.content-title span.stit input {
	background: #faf2c7;
	border: 0;
	width: 150px
}
hr {
	border: 0;
	height: 10px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
hr.search-dot {
	margin: 0 5px 0px;
	border: 0;
	border-bottom: 0px dashed #848ca0;
}

.page-info {
	width: 1100px;
	margin: 0 auto;
	padding: 0px;
	font-size: 16px;
	color: #333;
	word-break: keep-all
}
.page-info p {
	margin: 0px 0px 20px 35px
}

.img-box {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.contents-box {
	padding: 0px;
	width: 100%;
	background: #fff;
	border: 0;
	clear: left
}


.conts {
	margin: 0x;
	
	padding: 15px 15px 15px;
	border:3px solid #32679e
	
	
}
.conts h2 {font-size:16px; color: #444;margin: 0x; }

.conts-gray {
	padding: 0 0 0 0;
	margin: 15px 0;
	border: 1px solid #ddd;
	background: #f9f9f9;
}

.quiz-group{ border-bottom:1px dashed #ddd; padding:10px 0px }
.quiz-group p {padding:0px 0px 5px 0px;font-size:14px;}
.quiz-group p.q{ font-weight:bold; font-size:15px;}
.quiz-group p.example-n{ padding-left:15px}
.quiz-group p.example{padding-left:15px}
.quiz-group p.example label{padding-right:30px; }

.quiz-group li {padding:0px 0px 10px 15px;}

.search-group {
	text-align: right;
	margin-bottom: 10px;
}
.search-group b {
	margin: 0 5px 0 5px;
	color: #555;
	padding: 0px 0 0 8px;
	line-height: 32px;
	vertical-align: bottom;
	font-size: 14px;
	background: url(../images/bg_cont_menu_bottom.gif) no-repeat left 5px
}
.search-group span i {
	color: #005891;
	margin: 0 5px;
}

.pagination {
	display: inline-block;
	margin: 10px auto 0px;
	border-radius: 4px;
}
.pagination>li {
	display: inline
}
.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #888;
	text-decoration: none;
	background-color: #fff;
	border: 0px solid #ddd;
	border-radius: 36px
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	border-radius: 36px;
	color: #c3c3c3;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 36px;
	color: #c3c3c3;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
	border-radius: 36px
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #2f86c5;
	border-radius: 46px
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd
}
.pagination-lg>li>a, .pagination-lg>li>span {
	padding: 10px 18px;
	font-size: 18px
}
.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px
}
.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px
}
.pagination-sm>li>a, .pagination-sm>li>span {
	padding: 4px 12px;
	font-size: 16px;
	margin: 2px;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
	border-radius: 36px;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
	border-radius: 36px;
}
.pager {
	padding-left: 0;
	margin: 20px 0;
	text-align: center;
	list-style: none
}
.pager li {
	display: inline
}
.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px
}
.pager li>a:focus, .pager li>a:hover {
	text-decoration: none;
	background-color: #eee
}
.pager .next>a, .pager .next>span {
	float: right
}
.pager .previous>a, .pager .previous>span {
	float: left
}
.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
	color: #777;
	cursor: not-allowed;
	background-color: #fff
}
.table {
	width: 100%;
	max-width: 100%;
}
.table caption {
	display: none
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px;
	line-height: 26px;
	
	border-top: 1px solid #ddd
}
.table>thead>tr>th {
	vertical-align: middle;
}
.table>tbody>tr>td.left {
	text-align: left
}
.table-hover>tbody>tr:hover {
	background-color: #fbfce2
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
}
.table>tbody+tbody {
	border-top: 1px solid #ddd
}
.table .table {
	background-color: #fff
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	padding: 5px
}
.table-bordered {
	border: 1px solid #ddd
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #ddd
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width: 2px
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9
}
.table-hover>tbody>tr:hover {
	background-color: #e0f0fc
}
table col[class*=col-] {
	position: static;
	display: table-column;
	float: none
}
table td[class*=col-], table th[class*=col-] {
	position: static;
	display: table-cell;
	float: none
}
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
	background-color: #f5f5f5
}
.table-hover>tbody>tr.active:hover>td, .table-hover>tbody>tr.active:hover>th, .table-hover>tbody>tr:hover>.active, .table-hover>tbody>tr>td.active:hover, .table-hover>tbody>tr>th.active:hover {
	background-color: #e8e8e8
}
.table-hover>tbody>tr.danger:hover>td, .table-hover>tbody>tr.danger:hover>th, .table-hover>tbody>tr:hover>.danger, .table-hover>tbody>tr>td.danger:hover, .table-hover>tbody>tr>th.danger:hover {
	background-color: #ebcccc
}
.table-responsive {
	min-height: .01%;/*overflow-x:auto;*/
}
.table-search {
	margin-bottom: 0px
}
.table-search>tbody>tr>th {
	border-top: 0px solid #d5e7f0;
	padding: 0px;
	padding-bottom: 12px
}
.table-search>tbody>tr>th p {
	border-radius: 24px;
	background: #b5d5e5;
	border-bottom: 1px solid #9fc4d6;
	border-right: 1px solid #9fc4d6;
	color: #003561;
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	padding: 5px 15px 5px 15px;
	line-height: 18px;
}
.table-search>tbody>tr>td {
	border-top: 0px solid #d5e7f0;
	color: #555;
	font-size: 13px;
	line-height: 24px;
	padding-top: 2px
}
.table-search>tbody>tr>td label {
	margin-right: 20px
}
.table-search>tbody>tr>td.btn_searchbox {
	padding-top: 10px;
	border-top: 2px solid #b5d5e5;
}
.table-list {
	border-top: 2px solid #005ba6;
	background: #fff
}
.table-list>thead>tr>th {
	border-bottom: 1px solid #d7d7d7;
	background: #fafafa;
	color: #444444;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;

}
.table-list>thead>tr>th.title01 {
	border-left: 1px solid #d7d7d7;
	line-height: 28px;
	padding: 4px;
}
.table-list>thead>tr>th.title02 {
	border-left: 1px solid #d7d7d7;
	line-height: 24px;
	padding: 2px;
	font-weight: normal;
}
.table-list>tbody>tr>td {
	border-bottom: 1px solid #d7d7d7;
	color: #555;
	text-align: center;
	font-size: 14px;

}
.table-list>tbody>tr>td.check {
	vertical-align: middle
}

.table-list>tbody>tr.total {
	background-color: #f6f6f6;
	font-weight: 500
}
.table-list>tbody>tr:last-child>td {
}
.table-view {
	border-bottom: 2px solid #005ba6;
	border-top: 2px solid #005ba6;
	margin-bottom: 10px
}
.table-view>thead>tr>th {
	border-bottom: 1px solid #d7d7d7;
	background: #fafafa;
	color: #444;
	text-align: left;
	font-size: 15px;
	line-height: 22px;
	font-weight: 500;
	padding: 15px
}
.table-view>tbody>tr>td {
	border-bottom: 1px solid #d7d7d7;
	color: #555;
	text-align: left;
	font-size: 13px;
	line-height: 24px;
	padding: 15px;
}
.table-view>tbody>tr>td:hover {
	background-color: #fff
}


.table-view>tbody>tr>td.view-top {
	height:250px; vertical-align:text-top
}

.table-view>tbody>tr>td.view-q{ font-weight:bold; color:#005ba6}

.table-view>tbody>tr>td span {
	color: #666;
	text-align: left;
	font-weight: normal;
	padding-right: 20px;
}
.table-view>tbody>tr>td span img {
	vertical-align: text-bottom
}
.table-view>tbody>tr>td span b {
	padding-right: 10px;
	color: #333;
}
.table-view>tbody>tr>td span strong {
	color: #999;
	padding: 0 6px;
	font-weight: 100
}
.table-view>tbody>tr {
}
.table-write {
	border: 1px solid #d9d9d9;
	
	margin-bottom: 10px
}
.table-write>tbody>tr>th {
	border-bottom: 1px solid #d9d9d9;
	background: #ededed;
	color: #354252;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	padding-left: 20px;
	line-height: 30px;
}
.table-write>tbody>tr>td {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background: #fff;
	color: #555;
	font-size: 13px;
	padding-right: 20px;
}
.table-write>tbody>tr>td p {
	padding: 10px 10px 0px 10px;
}
.table-write>tbody>tr>td p img {
	vertical-align: text-bottom
}
.table-write>tbody>tr>td span {
	color: #999;
	padding: 0 6px;
}
.table-write>tbody>tr>td i {
	color: #4981bc
}
.table-write>tbody>tr>td label {
	margin-right: 20px
}
.table-in {
	border: 1px solid #dedede;
	
}
.table-in>thead>tr>th {
	vertical-align: middle;
	background: #ededed;
	color: #444;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	border-left: 1px dotted #999;
	line-height: 20px
}
.table-in>tbody>tr>th {
	vertical-align: middle;
	color: #005ba6;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	border-right: 1px solid #ddd;
	background: #fcfcfc;
	padding-left: 15px;
}
.table-in>tbody>tr>td {
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	border-right: 1px dotted #ccc;
	padding-left: 15px;
	line-height: 20px
}

.table-in>tbody>tr>td a.site-link {
	color: #024780;
	background-color: #fff;
	border:1px solid #4981bc;
	font-size: 12px;
	padding: 3px 15px;
	line-height: 14px;
	border-radius:3px;
	vertical-align: bottom
}

.table-in>tbody>tr.total {
	background-color: #fcffd0;
	font-weight: 500
}

.table-in>tbody>tr.tite {
	background: #fcfcfc;
	font-weight: bold
}
.table-in>tbody>tr>td.oderno {
	text-align: center;
}


.table-border-no {

	border:0 0 0 0;
	
}
.table-border-no>tbody>tr>td, .table-border-no>tbody>tr>th, .table-border-no>tfoot>tr>td, .table-border-no>tfoot>tr>th, .table-border-no>thead>tr>td, .table-border-no>thead>tr>th {
	border: 0px solid #ddd;
	font-size:14px;
    padding: 4px;
}
.table-border-no>tbody>tr>td{}

 .table-border-no>tbody>tr>th {
	border-bottom-width: 0px
}
 .table-border-no>tbody>tr>th p {
	 background:#88a3be;
	 border-radius:15px;
	 color:#fff;
	border-bottom-width: 0px;
	text-align:left;
	padding-left:15px
}

.comment-group{ margin:15px 0;}
.comment-group>li {
border-top:1px solid #ddd; 
}

.comment-group>li:last-child{
border-bottom:1px solid #ddd; 
}

.comment{background:#fff;  padding:15px 0; font-size:13px}
.comment p{color:#888}
.comment p a{ margin-left:20px;  margin-right:5px;line-height:16px; vertical-align: middle}
.comment p a img{ vertical-align: middle}
.comment p.cmttxt{color:#444; padding-top:10px}

.comment-write {
	padding: 5px 15px;
	margin: 10px 0;
	border: 1px solid #ddd;
	background: #f9f9f9;
}



.table-comment{border:0 0 0 0;}
.table-comment>tbody>tr>td{ padding-right:10px}
.table-comment>tbody>tr>td.cmtname{ color:#005ba6; font-weight:bold; font-size:13px}
.table-comment>tbody>tr>td a{ margin-leftt:10px}