<%@ page pageEncoding="utf-8"%>
 
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!-- <meta http-equiv="Content-Language" content="ko" > -->
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<!-- jstl태그-->
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="ui" uri="http://egovframework.gov/ctl/ui"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/functions" prefix="fn" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>


<!-- 스타일-->
<link href="<c:url value='/css/style_popup.css' />" rel="stylesheet" type="text/css">
<link href="<c:url value='/fonts/font-awesome/css/font-awesome.min.css' />" rel="stylesheet" />
<link href="<c:url value='/css/date-style.css' />" rel="stylesheet" type="text/css">
<link href="<c:url value='/css/jquery-ui.css' />" rel="stylesheet" type="text/css">
<link href="<c:url value='/css/AXJ.min.css' />" rel="stylesheet" type="text/css">


<!-- 스크립트-->
<script type="text/javascript" src="<c:url value='/js/lib/jquery-1.12.4.js' />" ></script>
<script type="text/javascript" src="<c:url value='/js/lib/jquery-ui.js' />" ></script>
<script type="text/javascript" src="<c:url value='/js/lib/jquery.number.js' />" ></script>
<script type="text/javascript" src="<c:url value='/js/lib/AXJ.js' />" ></script>
<script type="text/javascript" src="<c:url value='/js/lib/AXJ.min.js' />"></script>
<script type="text/javascript" src="<c:url value='/js/lib/AXGrid.js' />" ></script>
<script type="text/javascript" src="<c:url value='/js/lib/AXUtil.js' />" ></script> 

<script type="text/javascript" src="<c:url value="/validator.do"/>"></script>
<script type="text/javascript" src="<c:url value='/js/pms/cmm.js' />" ></script> 
<script type="text/javascript" src="<c:url value='/js/pms/pms.js' />" ></script> 

